.join-chapter-container {
    text-align: center;
    margin-top: 80px;
}

.join-chapter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.join-chapter-form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.join-chapter-form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #003366;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-chapter-form button:hover {
    background-color: #002244;
}
